<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${log.home}/mpns.error.log</file>
	    <encoding>UTF-8</encoding>
	    <append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.home}/mpns.error.log.%d{yyyy-MM-dd}
			</FileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>error</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{35} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${log.home}/mpns.info.log</file>
			<encoding>UTF-8</encoding>
			<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.home}/mpns.info.log.%d{yyyy-MM-dd}
			</FileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>info</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{35} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="PROJECT" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${log.home}/mpns.log</file>
			<encoding>UTF-8</encoding>
			<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.home}/mpns.log.%d{yyyy-MM-dd}
			</FileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
						<level>${loglevel}</level>
		</filter>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{35} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="PUSH_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${log.home}/push.log</file>
	    <encoding>UTF-8</encoding>
	    <append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.home}/push.log.%d{yyyy-MM-dd}
			</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{35} - %msg%n</pattern>
		</layout>
	</appender>

	<logger name="com.shinemo.mpush.push.PushRequest" additivity="false">
		<level value="info"/>
		<appender-ref ref="PUSH_LOG"/>
	</logger>

	<logger name="com.shinemo.mpns.core.mpush" additivity="false">
		<level value="info"/>
		<appender-ref ref="PUSH_LOG"/>
	</logger>

	<appender name="JPUSH_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${log.home}/jpush.log</file>
	    <encoding>UTF-8</encoding>
	    <append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.home}/jpush.log.%d{yyyy-MM-dd}
			</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{35} - %msg%n</pattern>
		</layout>
	</appender>

	<logger name="com.shinemo.mpns.core.jpush" additivity="false">
		<level value="info"/>
		<appender-ref ref="JPUSH_LOG"/>
	</logger>

	<appender name="SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${log.home}/sql.log</file>
	    <encoding>UTF-8</encoding>
	    <append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.home}/sql.log.%d{yyyy-MM-dd}
			</FileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{35} - %msg%n</pattern>
		</layout>
	</appender>

	<logger name="org.apache.zookeeper.ClientCnxn" additivity="false">
		<level value="info"/>
		<appender-ref ref="ERROR_LOG"/>
	</logger>

	<logger name="cn.jpush.api.common.connection" additivity="false">
		<level value="warn"/>
		<appender-ref ref="ERROR_LOG"/>
	</logger>

	<logger name="com.shinemo.mpns.dal.mpush.mapper" additivity="false">
		<level value="${loglevel}" />
		<appender-ref ref="SQL" />
	</logger>

	<root>
		<level value="${loglevel}" />
		<appender-ref ref="PROJECT" />
		<appender-ref ref="ERROR_LOG" />
		<appender-ref ref="INFO_LOG" />
	</root>
</configuration>
